@model RanchApp.DAL.App_Classes.Milk
@{
    ViewBag.Title = "UpdateMilk";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script type="text/javascript">
    $.fn.datepicker.defaults.format = 'dd.MM.yyyy';
    jQuery('#Date').datepicker({
        autoclose: true,
        todayHighlight: true 
    });

    
</script>

@using (Html.BeginForm("UpdateMilk", "Milk", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid mt-2">
        <div class="col-12 mb-2">
            <label for="EarringNumberq">Küpe Numarası</label>
            <input type="text" class="form-control" id="CattleID" name="CattleID" value="@Model.CattleID" placeholder="Küpe No" readonly />
        </div>
        <div class="col-12 mb-2">
            <label for="BirthDate">Doğum Tarihi</label>
            <div class="input-group">
                <input type="text" class="form-control" name="Date" id="Date" placeholder="mm/dd/yyyy" value="@Model.Date.ToShortDateString()" required>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <label for="Litre">Litre</label>
            <input type="number" class="form-control" id="Liter" name="Liter" placeholder="Litre" required min="0.5" step="0.01" value="@Model.Liter" />
        </div>
        @if (Session["Id"] == null)
        {
            <script type="text/javascript">
                    window.location.href = "@Url.Action("Index","Login")";
            </script>
        }
        else
        {
            @Html.HiddenFor(Model => Model.ID)
        }
        <button type="submit" class="btn btn-info btn-lg col-12 mb-3">Süt Güncelle</button>
    </div>
}
